.highlight {
    background-color: #052948;
    color: white;
    font-size: small;
  }
  
  .nonhighlight {
    color: grey;
    font-size: small;
  }
  
  .caption {
    font-size: small;
    color:#8c8c8c;
  }
  
  .toggleBody {
    background-color:#E8E8E8;
    border-color:#E8E8E8;
  }
  
  .toggleContenr {
    background-color: #f4f4f4;
  }